In [13]:
names = ['Atinuke', 'Moyo', 'Chinaza', 'Praise', 'Esther']
ages = (15, 16, 17, 18, 19)
heights = [1.52, 1.64, 1.67, 1.79, 1.89]

In [14]:
tab = {'Names': names,
      'Ages': ages,
      'Heights': heights}

In [15]:
tab

{'Names': ['Atinuke', 'Moyo', 'Chinaza', 'Praise', 'Esther'],
 'Ages': (15, 16, 17, 18, 19),
 'Heights': [1.52, 1.64, 1.67, 1.79, 1.89]}

In [16]:
tab['Names']

['Atinuke', 'Moyo', 'Chinaza', 'Praise', 'Esther']

In [17]:
import pandas as pd

In [18]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [19]:
table = pd.DataFrame(tab)

In [20]:
table

     Names  Ages  Heights
0  Atinuke    15     1.52
1     Moyo    16     1.64
2  Chinaza    17     1.67
3   Praise    18     1.79
4   Esther    19     1.89

In [21]:
def add(a, b):
    return a + b

In [22]:
add(5, 4)

9

In [26]:
def classtask1 (a, b, c):
    '''
    This is a function to add the first 2 numbers and subtract the third: eg classtask1(1, 2, 3), the answer is 0
    '''
    return(a + b ) - c

In [27]:
classtask1(1, 2, 3)

0

In [28]:
classtask1?

In [29]:
import math

In [30]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [31]:
math.pi

3.141592653589793

In [32]:
math.sqrt(25)

5.0

In [35]:
def perimeter (r):
    '''
    This function calclulates the perimeter of a circle
    '''
    return 2 * math.pi * r

In [36]:
perimeter(10)

62.83185307179586

In [50]:
def maximum (a, b, c):
    if a > b and a > c:
        return a
    elif b > a and b > c:
        return b
    elif c > a and c > b:
        return c
    else: 
        return 'They are all equal.'

In [51]:
maximum(1, 2, 3)

3

In [52]:
maximum(105, 876, 180)

876

In [53]:
maximum(1, 1, 1)

'They are all equal.'

In [55]:
def addup (x):
    total = 0
    for i in x:
        total = total + i
    return total

In [58]:
addup([1, 2, 3, 4, 5, 6, 7, 8, 9])

45

In [59]:
def mul (x):
    total = 1
    for i in x:
        total = total * i
    return total

In [60]:
mul([1, 2, 3, 4, 5, 6, 7, 8, 9])

362880